<div class="padded-top container">

  <a {{ action 'authenticateWithFacebook' }}><i
      class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>

  <a {{ action 'authenticateWithGooglePlus' }}><i
      class="fa fa-google fa-fw"></i> <span class="network-name">Google</span></a>

  {{outlet}}
</div>