jwt_secret=
db_url=mongodb://:@localhost/auth-example
auth_facebook_client_id=
auth_facebook_client_secret=
auth_facebook_redirect_uri=http://localhost:4200/
auth_google_client_id=
auth_google_client_secret=
auth_google_redirect_uri=postmessage
